<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <!-- context-param 설정 -->
    <context-param>
        <param-name>url</param-name>
        <param-value>localhost:thin:oracle:xe</param-value>
    </context-param>

    <!-- Servlet 등록 -->
    <servlet>
        <servlet-name>exampleServlet</servlet-name>
        <servlet-class>paramConfig.ExampleServlet</servlet-class>
        <!-- init-param 설정 -->
        <init-param>
            <param-name>admin</param-name>
            <param-value>T1234</param-value>
        </init-param>
    </servlet>

    <!-- Servlet 매핑 -->
    <servlet-mapping>
        <servlet-name>exampleServlet</servlet-name>
        <url-pattern>/example</url-pattern>
    </servlet-mapping>
</web-app>
